body {
    font-family: sans-serif;
}

header {
    background-color: #AFEEEE;
    margin:8px

}

header a {
    text-decoration: none;
    border-radius: 10px;
    background-color: white;
    padding: 5px;
}

h1 {
    background-color: #AFEEEE;
    color: blue;
    text-align: center;
    border-radius: 15px;
}

footer p {
    border: lightblue;
    border-radius: 15px;
    background-color: #AFEEEE;
    padding: 5px;

}

nav a {
    color: #696969;

    margin: 3px;
    padding:3px; } 


    nav {
border-radius: 15px;
background-color: 		#D3D3D3
    }                        

.iu {
   background-color: white; 
   border: 3px solid #40E0D0;
   border-radius: 15px;
   margin:5px;
   padding:5px;
}


h2 {
    color:blue;

}

.ry {
    border:3px solid blue;
    border-radius: 15px;
}

.c {
border:2px solid blue;
text-decoration:none;
padding:5PX;
margin:3px;
}
